# Python
__pycache__/
core/__pycache__/
.vscode/
.DS_Store

# Plot directories
plots/
plots_*/
plots_grid_scan/
plots_original/
*.png
img/

# Data directories
backup/
output/
test_output/

# Solar
solar/

# Paper
paper/
paperfig/

# TeX
_minted/
*.pdf
*.gz
*.tex
*.sty

# Else
*.json
*.ipynb
eca/
auto/